[Desktop Entry]
Name=Complex Config OpenVPN
GenericName=Complex Config OpenVPN
X-GNOME-FullName=Complex Config OpenVPN
Comment=Конфигуратор OpenVPN
Exec=gksu /usr/sbin/complex-ovpn
Icon=/usr/share/complex-ovpn/icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;Settings;
StartupNotify=true
X-Ubuntu-Gettext-Domain=Complex Config OpenVPN
Name[ru_RU]=Complex Config OpenVPN
